.pet_card {
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    flex-direction:column;
    background-color: lightcyan;
    box-shadow: 2px 2px 5px gray;
    padding: 10px;
}

.feed-buttons {
    border: 1px solid black ;
    background-color: rgb(222, 228, 228);
    padding: 3px;
    border-radius: 5px;
    align-items: center;
}

.feed-buttons:hover {
    cursor: pointer;
}

.cards {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 221, 221);;
    align-items: center;
    width: 180px;
    height: 450px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 221, 221);
    box-shadow: 2px 2px 5px gray;
    
}

p, h1 {
    text-align: center;
}

#petCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.emojis {
    height:65px;
    /* width: 55px; */
    border-radius: 5px;
    font-size: 60px;
    padding: 5px;
}


.emojis:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💚</text></svg>") 16 0,auto;
}

.container {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;    

}